.i18n_flag img {
    width: 16px;
    vertical-align: text-top;
}

.field-reopen>.field-reopen  {
    margin-left: 200px;
}


label[for='id_phone'], label[for='id_mobile'] {
    display: none;
}

.field-phone_prefix, .field-mobile_prefix {
    margin-right: 10px !important;
}

#id_phone {
    height: 59%;
}

.field-phone {
    height: 30px;
}

.field-phone > .errorlist {
    position: absolute;
    margin-left: 170px !important;
}

.field-email > .errorlist {
    display: flex;
}

.field-email > .errorlist > li {
    padding-left: 1px !important;
}

.fieldBox > input {
    width: calc(100% - 20px);
}

.form-row {
    display: flex;
}


.fieldBox.field-initial_value:before,
.fieldBox.field-objective_value:before,
.fieldBox.field-final_value:before,
.fieldBox.field-revue_value:before,
.fieldBox.field-total_cost_value:before,
.fieldBox.field-margin_value:before{
    content: '€';
    position: absolute;
    transform: translateY(calc(50% + 7px));
    right: 12px;
}


.form-row.field-initial_estimation_value > div:before {
    content: '€';
    position: absolute;
    transform: translateY(calc(50% + 2px));
    right: 12px;
}

.form-row.field-initial_estimation_value > div {
    position: relative;
}

.form-row.field-target_value > div:before,
.form-row.field-final_value> div:before {
    content: '€';
    position: absolute;
    transform: translateY(calc(50% + 2px));
    right: 12px;
}

.form-row.field-target_value > div,
.form-row.field-final_value > div {
    position: relative;
}


.fieldBox.field-initial_value,
.fieldBox.field-objective_value,
.fieldBox.field-final_value,
.fieldBox.field-revue_value,
.fieldBox.field-total_cost_value,
.fieldBox.field-margin_value,
.fieldBox.field-total_value{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: calc(100% / 8);
    position: relative;
}

.fieldBox.field-total_value:before {
    content: '%';
    position: absolute;
    transform: translateY(calc(50% + 7px));
    right: 12px;
}
.fieldBox.field-residual_surface,
.fieldBox.field-occupied_area,
.fieldBox.field-surface_directly_concerned,
.fieldBox.field-transformation_coefficient,
.fieldBox.field-extension_MQ,
.fieldBox.field-MC_residui{
    position: relative;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}





.form-row.field-revenue > div:before {
    content: '€';
    position: absolute;
    transform: translateY(calc(50% + 0px));
    right: 12px;
}

.form-row.field-revenue > div {
    position: relative;
}


.form-row.field-total_cost > div:before {
    content: '€';
    position: absolute;
    transform: translateY(calc(50% + 2px));
    right: 12px;
}

.form-row.field-total_cost > div {
    position: relative;
}

.form-row.field-turnover_margin > div:before {
    content: '€';
    position: absolute;
    transform: translateY(calc(50% + 0px));
    right: 12px;
}

.form-row.field-turnover_margin > div {
    position: relative;
}

.form-row.field-enrollment_amount > div:before {
    content: '€';
    position: absolute;
    transform: translateY(calc(50% + 0px));
    right: 12px;
}

.form-row.field-enrollment_amount > div {
    position: relative;
}



.fieldBox.field-contract_fee > :before {
    content: '€';
    position: absolute;
    transform: translateY(calc(50% + 26px));
    right: 12px;
}

.fieldBox.field-contract_fee  {
    position: relative;
}


.fieldBox.field-residual_rent > :before {
    content: '€';
    position: absolute;
    transform: translateY(calc(50% + 26px));
    right: 12px;
}

.fieldBox.field-residual_rent  {
    position: relative;
}


.fieldBox.field-reclamation_cost > :before {
    content: '€';
    position: absolute;
    transform: translateY(calc(50% + 26px));
    right: 12px;
}

.fieldBox.field-reclamation_cost {
    position: relative;
}


.fieldBox.field-extension_MQ > span:before {
    position: absolute;
    transform: translateY(calc(50% + 26px));
    right: 12px;
}

.fieldBox.field-extension_MQ >  {
    position: relative;
}