<div class="custom-dropdown">
          {% if var1 %}
            {{ var1 }}
          {% endif %}
          <div class="custom-toggle-dropdown" onclick="toggleLanguageDropDown()">
            {% for lang in languages %}
              {% if lang.code == language %}
                {{ lang.name }}
              {% endif %}
            {% endfor %}
          </div>
            <div class="custom-dropdown-content" id="languageDropdown">
              {% for lang in languages %}
                <div>
                  <a href="/{{lang.code}}/litigation" class="custom-dropdown-option" onclick="toggleLanguageDropDown()">
                    {{lang.name}}
                  </a>
                </div>
              {% endfor %}

            </div>
        </div>